<h1>Sample App</h1>
<p>
This is the home page for the sample application created by <a href="faisaldev7.github.io">Faisal</a>
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>