<footer>
<nav class="round">
<ul>
<li><%= link_to "About",about_path %></li>
<li><%= link_to "Contact",contact_path%></li>
<li><a href="https://faisaldev7.github.io/">News</a></li>
<li><a href="https://faisaldev7.github.io/">Created by Faisal</a></li>
</ul>
</nav>
</footer>